In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('train_data.csv', index_col='Unnamed: 0')
df = df.reset_index(drop=True)
df.head()

    item            loja tipo_loja        data  venda  imputado
0  10223  renner_ar_ex_1    física  2019-12-08     68         0
1  10223  renner_ar_ex_1    física  2019-12-15    376         0
2  10223  renner_ar_ex_1    física  2019-12-22    345         0
3  10223  renner_ar_ex_1    física  2019-12-29    219         0
4  10223  renner_ar_ex_1    física  2020-01-05    140         0

# 1. Remover as colunas Item e imputado

In [3]:
df = df.drop(columns=['item', 'imputado'])
df.head()

             loja tipo_loja        data  venda
0  renner_ar_ex_1    física  2019-12-08     68
1  renner_ar_ex_1    física  2019-12-15    376
2  renner_ar_ex_1    física  2019-12-22    345
3  renner_ar_ex_1    física  2019-12-29    219
4  renner_ar_ex_1    física  2020-01-05    140

# 2. Pegar dummies do tipo de loja

In [4]:
df = pd.get_dummies(df,columns=['tipo_loja'],drop_first=True, prefix='loja')
df.head()

             loja        data  venda  loja_web
0  renner_ar_ex_1  2019-12-08     68         0
1  renner_ar_ex_1  2019-12-15    376         0
2  renner_ar_ex_1  2019-12-22    345         0
3  renner_ar_ex_1  2019-12-29    219         0
4  renner_ar_ex_1  2020-01-05    140         0

# 3. Pegar país, estado e número da loja

In [5]:
def get_country(str):
    parts = str.split('_')[1:]
    country = parts[0]
    return country

def get_state(str):
    parts = str.split('_')[1:]
    state = parts[1]
    return state

def get_index(str):
    parts = str.split('_')[1:]
    index = parts[2]
    return index

In [6]:
df['country'] = df['loja'].apply(get_country)
df['state'] = df['loja'].apply(get_state)
df['index'] = df['loja'].apply(get_index)
df.head()

             loja        data  venda  loja_web country state index
0  renner_ar_ex_1  2019-12-08     68         0      ar    ex     1
1  renner_ar_ex_1  2019-12-15    376         0      ar    ex     1
2  renner_ar_ex_1  2019-12-22    345         0      ar    ex     1
3  renner_ar_ex_1  2019-12-29    219         0      ar    ex     1
4  renner_ar_ex_1  2020-01-05    140         0      ar    ex     1

# 4. Pegar dummies do país e estado

In [7]:
df = pd.get_dummies(df,columns=['country','state'],drop_first=True, prefix=['c','s'])
df.head()

,loja,data,venda,loja_web,index,c_br,c_uy,s_al,s_am,s_ap,s_ba,s_ce,s_df,s_es,s_ex,s_go,s_ma,s_mg,s_ms,s_mt,s_pa,s_pb,s_pe,s_pi,s_pr,s_rj,s_rn,s_ro,s_rr,s_rs,s_sc,s_se,s_sp,s_to
0,renner_ar_ex_1,2019-12-08,68,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,renner_ar_ex_1,2019-12-15,376,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,renner_ar_ex_1,2019-12-22,345,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,renner_ar_ex_1,2019-12-29,219,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,renner_ar_ex_1,2020-01-05,140,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# 5. Pegar ano e semana do ano

In [8]:
df.data = pd.to_datetime(df.data)

In [9]:
def get_week(date):
    return date.weekofyear

def get_year(date):
    return date.year

In [10]:
df['week_of_year'] = df.data.apply(get_week)
df['year'] = df.data.apply(get_year)
df.head()

,loja,data,venda,loja_web,index,c_br,c_uy,s_al,s_am,s_ap,s_ba,s_ce,s_df,s_es,s_ex,s_go,s_ma,s_mg,s_ms,s_mt,s_pa,s_pb,s_pe,s_pi,s_pr,s_rj,s_rn,s_ro,s_rr,s_rs,s_sc,s_se,s_sp,s_to,week_of_year,year
0,renner_ar_ex_1,2019-12-08,68,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,49,2019
1,renner_ar_ex_1,2019-12-15,376,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,50,2019
2,renner_ar_ex_1,2019-12-22,345,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51,2019
3,renner_ar_ex_1,2019-12-29,219,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52,2019
4,renner_ar_ex_1,2020-01-05,140,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2020

# 6. Vendas da semana passada

In [11]:
for i in range(1, len(df)):
    if df.loc[i-1, 'loja'] == df.loc[i, 'loja']:
        df.loc[i, 'last_week_sales'] = df.loc[i-1, 'venda']
    else:
        df.loc[i, 'last_week_sales'] = 0

df.loc[0, 'last_week_sales'] = 0
df.last_week_sales = df.last_week_sales.astype('int64')
df.head()

,loja,data,venda,loja_web,index,c_br,c_uy,s_al,s_am,s_ap,s_ba,s_ce,s_df,s_es,s_ex,s_go,s_ma,s_mg,s_ms,s_mt,s_pa,s_pb,s_pe,s_pi,s_pr,s_rj,s_rn,s_ro,s_rr,s_rs,s_sc,s_se,s_sp,s_to,week_of_year,year,last_week_sales
0,renner_ar_ex_1,2019-12-08,68,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,49,2019,0
1,renner_ar_ex_1,2019-12-15,376,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,50,2019,68
2,renner_ar_ex_1,2019-12-22,345,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51,2019,376
3,renner_ar_ex_1,2019-12-29,219,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52,2019,345
4,renner_ar_ex_1,2020-01-05,140,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2020,219

# 7. Media de vendas da loja

In [12]:
def store_avg(store, stores_avg):
    return stores_avg[store]

In [13]:
stores_avg = df.groupby('loja')['venda'].mean()
df['store_avg'] = df['loja'].apply(lambda x: store_avg(x, stores_avg))
df.head()

,loja,data,venda,loja_web,index,c_br,c_uy,s_al,s_am,s_ap,s_ba,s_ce,s_df,s_es,s_ex,s_go,s_ma,s_mg,s_ms,s_mt,s_pa,s_pb,s_pe,s_pi,s_pr,s_rj,s_rn,s_ro,s_rr,s_rs,s_sc,s_se,s_sp,s_to,week_of_year,year,last_week_sales,store_avg
0,renner_ar_ex_1,2019-12-08,68,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,49,2019,0,46.319672
1,renner_ar_ex_1,2019-12-15,376,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,50,2019,68,46.319672
2,renner_ar_ex_1,2019-12-22,345,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51,2019,376,46.319672
3,renner_ar_ex_1,2019-12-29,219,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52,2019,345,46.319672
4,renner_ar_ex_1,2020-01-05,140,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2020,219,46.319672

# 8. Std de vendas da loja

In [14]:
def store_std(store, stores_var):
    return stores_var[store]

stores_var = df.groupby('loja')['venda'].std()
df['store_std'] = df['loja'].apply(lambda x: store_std(x, stores_var))
df.head()

,loja,data,venda,loja_web,index,c_br,c_uy,s_al,s_am,s_ap,s_ba,s_ce,s_df,s_es,s_ex,s_go,s_ma,s_mg,s_ms,s_mt,s_pa,s_pb,s_pe,s_pi,s_pr,s_rj,s_rn,s_ro,s_rr,s_rs,s_sc,s_se,s_sp,s_to,week_of_year,year,last_week_sales,store_avg,store_std
0,renner_ar_ex_1,2019-12-08,68,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,49,2019,0,46.319672,68.294485
1,renner_ar_ex_1,2019-12-15,376,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,50,2019,68,46.319672,68.294485
2,renner_ar_ex_1,2019-12-22,345,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51,2019,376,46.319672,68.294485
3,renner_ar_ex_1,2019-12-29,219,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52,2019,345,46.319672,68.294485
4,renner_ar_ex_1,2020-01-05,140,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2020,219,46.319672,68.294485

# 9. Indicador de Feriados

In [16]:
holiday_weeks = [1, 15, 16, 17, 36, 41, 44, 46, 51, 52]
df['holiday'] = df['week_of_year'].apply(lambda x: 1 if x in holiday_weeks else 0)
df.head()

,loja,data,venda,loja_web,index,c_br,c_uy,s_al,s_am,s_ap,s_ba,s_ce,s_df,s_es,s_ex,s_go,s_ma,s_mg,s_ms,s_mt,s_pa,s_pb,s_pe,s_pi,s_pr,s_rj,s_rn,s_ro,s_rr,s_rs,s_sc,s_se,s_sp,s_to,week_of_year,year,last_week_sales,store_avg,store_std,holiday
0,renner_ar_ex_1,2019-12-08,68,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,49,2019,0,46.319672,68.294485,0
1,renner_ar_ex_1,2019-12-15,376,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,50,2019,68,46.319672,68.294485,0
2,renner_ar_ex_1,2019-12-22,345,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51,2019,376,46.319672,68.294485,1
3,renner_ar_ex_1,2019-12-29,219,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52,2019,345,46.319672,68.294485,1
4,renner_ar_ex_1,2020-01-05,140,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2020,219,46.319672,68.294485,1

In [18]:
from functions import *

In [22]:
df2 = pd.read_csv('train_data.csv', index_col='Unnamed: 0')
df2.head()

    item            loja tipo_loja        data  venda  imputado
0  10223  renner_ar_ex_1    física  2019-12-08     68         0
1  10223  renner_ar_ex_1    física  2019-12-15    376         0
2  10223  renner_ar_ex_1    física  2019-12-22    345         0
3  10223  renner_ar_ex_1    física  2019-12-29    219         0
4  10223  renner_ar_ex_1    física  2020-01-05    140         0

In [19]:
def feature_engineer(df):
    df = df.reset_index(drop=True)
    df = df.drop(columns=['item', 'imputado'])
    df = pd.get_dummies(df,columns=['tipo_loja'],drop_first=True, prefix='loja')
    df['country'] = df['loja'].apply(get_country)
    df['state'] = df['loja'].apply(get_state)
    df['index'] = df['loja'].apply(get_index)
    df = pd.get_dummies(df,columns=['country','state'],drop_first=True, prefix=['c','s'])
    df.data = pd.to_datetime(df.data)
    df['week_of_year'] = df.data.apply(get_week)
    df['year'] = df.data.apply(get_year)

    for i in range(1, len(df)):
        if df.loc[i-1, 'loja'] == df.loc[i, 'loja']:
            df.loc[i, 'last_week_sales'] = df.loc[i-1, 'venda']
        else:
            df.loc[i, 'last_week_sales'] = 0

    df.loc[0, 'last_week_sales'] = 0
    df.last_week_sales = df.last_week_sales.astype('int64')
    stores_avg = df.groupby('loja')['venda'].mean()
    df['store_avg'] = df['loja'].apply(lambda x: store_avg(x, stores_avg))
    stores_var = df.groupby('loja')['venda'].std()
    df['store_std'] = df['loja'].apply(lambda x: store_std(x, stores_var))
    holiday_weeks = [1, 15, 16, 17, 36, 41, 44, 46, 51, 52]
    df['holiday'] = df['week_of_year'].apply(lambda x: 1 if x in holiday_weeks else 0)

    return df

In [23]:
df2 = feature_engineer(df2)

In [24]:
df2.head()

,loja,data,venda,loja_web,index,c_br,c_uy,s_al,s_am,s_ap,s_ba,s_ce,s_df,s_es,s_ex,s_go,s_ma,s_mg,s_ms,s_mt,s_pa,s_pb,s_pe,s_pi,s_pr,s_rj,s_rn,s_ro,s_rr,s_rs,s_sc,s_se,s_sp,s_to,week_of_year,year,last_week_sales,store_avg,store_std,holiday
0,renner_ar_ex_1,2019-12-08,68,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,49,2019,0,46.319672,68.294485,0
1,renner_ar_ex_1,2019-12-15,376,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,50,2019,68,46.319672,68.294485,0
2,renner_ar_ex_1,2019-12-22,345,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51,2019,376,46.319672,68.294485,1
3,renner_ar_ex_1,2019-12-29,219,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52,2019,345,46.319672,68.294485,1
4,renner_ar_ex_1,2020-01-05,140,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2020,219,46.319672,68.294485,1