In [2]:
from dataProcessing import DataProcessor
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [5]:
data_processor = DataProcessor()
df = data_processor.read_data('data/Desafio 2 - renner_sales_sample_train.csv')
df = data_processor.clean(df, test=False)
df = data_processor.features(df)
df.head()

,loja,data,venda,loja_web,index,c_br,c_uy,s_al,s_am,s_ap,...,s_sc,s_se,s_sp,s_to,week_of_year,year,last_week_sales,store_avg,store_std,holiday
0,renner_ar_ex_1,2019-12-08,68,0,1,0,0,0,0,0,...,0,0,0,0,49,2019,0,46.319672,68.294485,0
1,renner_ar_ex_1,2019-12-15,376,0,1,0,0,0,0,0,...,0,0,0,0,50,2019,68,46.319672,68.294485,0
2,renner_ar_ex_1,2019-12-22,345,0,1,0,0,0,0,0,...,0,0,0,0,51,2019,376,46.319672,68.294485,1
3,renner_ar_ex_1,2019-12-29,219,0,1,0,0,0,0,0,...,0,0,0,0,52,2019,345,46.319672,68.294485,1
4,renner_ar_ex_1,2020-01-05,140,0,1,0,0,0,0,0,...,0,0,0,0,1,2020,219,46.319672,68.294485,1