In [4]:
from functions import limpa_dataframe, arruma_dados
import pandas as pd

In [2]:
df_train = pd.read_csv('data/Desafio 2 - renner_sales_sample_train.csv')
df_test = pd.read_csv('data/Desafio 2 - renner_sales_sample_test.csv')

display(df_train.head(3), df_test.head(3))

    item            loja tipo_loja                        ds  venda
0  10223  renner_ar_ex_1    física  2020-11-22T00:00:00.000Z    108
1  10223  renner_ar_ex_1    física  2022-03-13T00:00:00.000Z     14
2  10223  renner_ar_ex_1    física  2020-07-19T00:00:00.000Z      2

    item            loja tipo_loja                        ds  venda
0  10223  renner_ar_ex_1    física  2022-05-08T00:00:00.000Z      2
1  10223  renner_ar_ex_1    física  2022-05-15T00:00:00.000Z      2
2  10223  renner_ar_ex_1    física  2022-05-01T00:00:00.000Z     12

In [3]:
df_train = limpa_dataframe(df_train)
df_train.head()

    item            loja tipo_loja       data  venda  imputado
0  10223  renner_ar_ex_1    física 2019-12-08     68         0
1  10223  renner_ar_ex_1    física 2019-12-15    376         0
2  10223  renner_ar_ex_1    física 2019-12-22    345         0
3  10223  renner_ar_ex_1    física 2019-12-29    219         0
4  10223  renner_ar_ex_1    física 2020-01-05    140         0

In [5]:
df_test = arruma_dados(df_test)
df_test.head()

    item            loja tipo_loja       data  venda  imputado
6  10223  renner_ar_ex_1    física 2022-04-10     12         0
5  10223  renner_ar_ex_1    física 2022-04-17      6         0
7  10223  renner_ar_ex_1    física 2022-04-24      4         0
2  10223  renner_ar_ex_1    física 2022-05-01     12         0
0  10223  renner_ar_ex_1    física 2022-05-08      2         0